@model MyEventsModel[]
@{
    ViewData["Title"] = "MyEvents";
}

<h1 class="text center mt-3">MyEvents</h1>

<hr class="hr-2 hr-bg-color" />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Tickets</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Length; i++)
        {
            var eventItem = Model[i];

            <tr>
                <td>@(i + 1)</td>
                <td>@eventItem.Name</td>
                <td>@eventItem.Start</td>
                <td>@eventItem.End</td>
                <td>@eventItem.Tickets</td>
            </tr>
        }
    </tbody>
</table>

<hr class="hr-2 hr-bg-color" />

