@model OrderViewModel[]

@{
    ViewData["Title"] = "All";
}
<h1 class="text-center text-mishmash">All Orders</h1>
<hr class="hr-2 bg-dark" />

<table class="table table-hover w-75 mx-auto">
    <thead>
        <tr>
            <td scope="col">#</td>
            <td scope="col">Order</td>
            <td scope="col">Customer</td>
            <td scope="col">Product</td>
            <td scope="col">Ordered On</td>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Length; i++)
        {
            var item = Model[i];
            var count = i + 1;

            <tr>
                <td>@count</td>
                <td>@item.Id</td>
                <td>@item.Customer</td>
                <td>@item.Product</td>
                <td>@item.OrderedOn</td>
            </tr>
        }
    </tbody>
</table>