<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ShopStop</title>

  <link rel="stylesheet" type="text/css" href="/styles/site.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <nav class="nav">
      <ul>
        {{#if user}}
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
            <li class="align-right">Welcome {{user.username}}!</li>
            <li class="align-right">
              <form id="logout-form" method="POST" action="/users/logout">
                <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
              </form>
            </li>
        {{else}}
            <li class="align-right"><a href="/users/login">Login</a></li>
            <li class="align-right"><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main>
    {{#if error}}
    <h2 class="error-msg">{{error}}</h2>
    {{else if success}}
    <h2 class="success-msg">{{success}}</h2>
    {{/if}}
    {{{body}}}
  </main>
  <footer>
    <p>&copy; ShopStop</p>
  </footer>
</body>

</html>
